@media only screen and (max-width: 300px){
    body{
        background-color: red;
    }
    .small {display: block;}
    .large{display: none;}
    .medium{display: none;}
    .petit{
        font-size: 15px;
    }
    p{
        font-size: 13px;
    }
}
@media only screen and (min-width: 300px){
    body{
        background-color: green;
    }
    .medium {display: block;}
    .large{display: none;}
    .small{display: none;}
    .moyen{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}
@media only screen and (min-width: 768px){
    body{
        background-color: blue;
    }
    .large{display: block;}
    .small{display: none;}
    .medium{display: none;}
    .grand{
        font-size: 22px;
    }
    p{
        font-size: 19px;
    }

}